:root{
    --color-green-sharing: #1b814e;
    --color-green-menu-active: #5fa999;
    --color-red-eco: #952639;

  }
  
  .link-back-container{
    display: flex; 
    justify-content: start; 
    align-items: center;
  }

  .link-back-container .link-back i{
    font-size: 18px;
  }

  .link-back-container .link-back{
    text-decoration: none;
    color: black;
  }

  .link-back-container .link-back:hover {
    text-decoration: underline;
    color: rgb(121, 118, 118);
  }

  .menu-icon {
      position: fixed;
      bottom: 15px;
      left: 15px;
      right: inherit;
      font-size: 30px;
      cursor: pointer;
      z-index: 1500;
      padding: 8px 16px;
      border-radius: 30px;
      background-color: var(--color-red-eco);
      color: #d8c303;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .txt_ind{
      font-size: 18px;
      
    }
    
    .menu-container {
      position: fixed;
      top: 0;
      left: -450px; /* Inicialmente oculto */
      width: 400px;
      height: 100%;
      background-color: #f8f9fa;
      transition: left 0.3s ease;
      padding: 20px;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
      z-index: 1499;
      overflow-y: scroll;
    }
  
    
    /* Personalización del scrollbar para navegadores basados en Webkit (Chrome, Safari) */
    .menu-container::-webkit-scrollbar {
      width: 8px; /* Ancho del scrollbar */
    }
    
    .menu-container::-webkit-scrollbar-thumb {
      background: #888; /* Color del "thumb" del scrollbar */
      border-radius: 10px; /* Esquinas redondeadas del scrollbar */
    }
    
    .menu-container::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color del "thumb" cuando se pasa el ratón sobre él */
    }
    
    /* Personalización del scrollbar para Firefox */
    .menu-container {
      scrollbar-width: thin; /* Delgado */
      scrollbar-color: #888 #f8f9fa; /* Color del thumb y del fondo del scrollbar */
    }
    
    /* Personalización del scrollbar para Edge */
    .menu-container {
      -ms-overflow-style: scrollbar; /* Muestra el scrollbar en Internet Explorer y Edge */
    }
    
    
    
    .menu-container.open {
      left: 0; /* Se despliega */
    }
    
    /* Estilos del acordeón personalizado */
    .accordion-item-custom {
      margin-bottom: 10px;
    }
    
    .accordion-header-custom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: white;
      color: black;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #b2b1b1; 
    }
  
    .accordion-header-custom span{
      font-size: 15px;
      font-weight: 600;
    }
    
    .accordion-body-custom {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      background-color: white;
      padding-left: 10px;
      border-radius: 0 0 5px 5px;
    }
    
    .accordion-body-custom ul {
      list-style: none;
      padding: 10px;
      margin: 0;
    }
    
    
    .accordion-body-custom ul li{
        position: relative; /* Para posicionar el ícono */
        padding-left: 2em; /* Espacio para el ícono */
        margin-bottom: .5em; /* Espaciado entre los ítems */
    }
    
    .accordion-body-custom ul li::before{
        content: "\F26A"; /* Código Unicode para el ícono (puedes encontrar el código específico en la documentación de Bootstrap Icons) */
        font-family: 'bootstrap-icons'; /* Asegúrate de usar la fuente correcta */
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); /* Centrar verticalmente */
        font-size: 1.2em; /* Tamaño del ícono */
        color: var(--color-green-sharing); /* Color del ícono */
    }
    
    
    .accordion-body-custom ul li a {
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-weight: 500;
    }
    
    .accordion-body-custom ul li a:hover {
      text-decoration: underline;
      color: #5fa999;
    }

    .accordion-item-custom.open .accordion-body-custom {
      max-height: 600px; /* Ajustar según contenido */
    }
    
    .accordion-item-custom.open .accordion-header-custom i {
      transform: rotate(180deg);
    }
    
    .li-active {
      color: var(--color-green-menu-active) !important;
    }
  
    .li-icon-active::before{
      color:var(--color-green-menu-active) !important; /* Color del ícono */
  }
  
    @media (min-width: 0) and (max-width: 699px){
      .menu-icon {
        position: fixed;
        bottom: 15px;
        left: inherit;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
        z-index: 1500;
        padding: 6px 12px;
        border-radius: 30px;
        background-color: var(--color-green-sharing);
        color: #d8c303;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .menu-container {
          position: fixed;
          top: 0;
          left: -720px; /* Inicialmente oculto */
          width: 100%;
          height: 100%;
          padding: 10px;
        }

        .txt_ind{
          font-size: 15px;
          
        }

      
    }